<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
<nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/productlist">Products List</a>
        <a class="navbar-brand text-secondary" href="/basket">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="currentColor" class="bi bi-cart"
                 viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Basket
        </a>
        <div sec:authorize="isAuthenticated()">
            <form class="navbar-brand" name="logoutForm" th:action="@{/logout}" method="post">
                <input class="btn btn-danger" type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</nav>

<table class="table table-light text-dark">
    <thead>
    <th scope="col" class="text-center">Id</th>
    <th scope="col" class="text-center">Product</th>
    <th scope="col" class="text-center">Quantity</th>
    <th scope="col" class="text-center">Ordered</th>
    <th scope="col" class="text-center">Customer</th>
    <th scope="col" class="text-center">Action</th>
    </thead>
    <tbody>
    <div th:each="commandline:${basket}">
        <tr th:if="${commandline.ordered == False && commandline.customer == username}">
            <td class="text-center" th:text="${commandline.id}"></td>
            <div th:each="product: ${productList}">
                <div th:if="${product.id == commandline.productId}">
                    <td class="text-center">
                        <a class="text-info" style="text-decoration: none;"
                           th:href="@{/product/{id}(id = ${product.id})}">
                            <p th:text="${product.name}"></p>
                        </a>
                    </td>
                </div>
            </div>
            <td class="text-center" th:text="@{x{quantity}(quantity = ${commandline.quantity})}"></td>
            <td class="text-center" th:text="${commandline.ordered}"></td>
            <td class="text-center text-dark" th:text="${commandline.customer}"></td>
            <td class="text-center">
                <a th:href="@{/commandline/delete/{id}(id = ${commandline.id})}" class="btn btn-danger mt-3">
                    Delete
                </a>
            </td>
        </tr>
    </div>
    </tbody>
</table>

<!--<div class="text-center mt-5">-->
<form th:action="@{/addCommand}" th:object="${command}" method="post">

    <div th:each="commandline, i: ${basket}"
         th:if="${commandline.ordered == False && commandline.customer == username}">


        <input type="text" th:value="${commandline.id}" th:name="'commandLine['+${i.index}+'].id'" hidden/>
        <input type="text" th:field="*{customer}" th:value="${commandline.customer}" hidden/>

    </div>
    <div class="mt-3 text-center" >
        <input type="text" th:field="*{address}" placeholder="Address">
    </div>

    <div class="mt-3 text-center">
        <input type="submit" class="btn btn-primary" value="Validate the basket">
    </div>
</form>

<!--    <a th:href="@{/addCommand}" class="btn btn-primary">Validate the basket</a>-->
<!--</div>-->
</body>
</html>