<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commands List</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
<nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/productlist">Products List</a>
        <a class="navbar-brand" href="/basket">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart"
                 viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Basket
        </a>
        <div sec:authorize="isAuthenticated()">
            <form class="navbar-brand" name="logoutForm" th:action="@{/logout}" method="post">
                <input class="btn btn-danger" type="submit" value="Logout" />
            </form>
        </div>
    </div>
</nav>
<table class="table table-light text-dark">
    <thead>
    <th scope="col" class="text-center">Id</th>
    <th scope="col" class="text-center">Address</th>
    <th scope="col" class="text-center">Date</th>
    <th scope="col" class="text-center">Products</th>
    <th scope="col" class="text-center">Customer</th>
    <th scope="col" class="text-center">Delivery Man</th>
    <th scope="col" class="text-center">Status</th>
    </thead>
    <tbody>
    <div th:each="command: ${commands}">
        <tr>
            <td class="text-center">
                <a class="text-info" style="text-decoration: none;" th:href="@{/command/{id}(id = ${command.id})}">
                    <i>
                        <p th:text="${command.id}"></p>
                    </i>
                </a>
            </td>
            <td class="text-center" th:text="${command.address}"></td>
            <td class="text-center" th:text="${command.commandDate}"></td>
            <td class="text-center">
                <div th:each="commandline: ${command.commandLine}">
<!--                    <p th:text="${command.commandLine[0].productId}"-->
<!--                    <div th:if="${product.id == commandline.productId}">-->
<!--                        <p th:text="${product.name}"></p>-->
                        <p th:text="${commandline.productId}"></p>
                        <p th:text="${commandline.quantity}"> fois</p>
<!--                    </div>-->
<!--                      <p th:name="'commandLine['+${i.index}+'].productId'"-->
                </div>
            </td>
            <td class="text-center" th:text="${command.customer}"></td>
            <td class="text-center" th:text="${command.deliveryman}"></td>
            <td class="text-center" th:text="${command.status}"></td>
        </tr>
    </div>
    </tbody>
</table>

</body>
</html>