<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Command</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
<nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand text-secondary" href="/">Home</a>
        <a class="navbar-brand" href="/productlist">Products List</a>
        <a class="navbar-brand" href="/basket">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="currentColor" class="bi bi-cart"
                 viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Basket
        </a>
        <div sec:authorize="isAuthenticated()">
            <form class="navbar-brand" name="logoutForm" th:action="@{/logout}" method="post">
                <input class="btn btn-danger" type="submit" value="Logout" />
            </form>
        </div>
    </div>
</nav>

<h4 class="text-center text-light mb-2">Update Command</h4>

<form action="#"
      th:action="@{/commandUpdate/{id}(id=${command.id})}"
      th:object="${command}"
      style="margin-right: 10%; margin-left: 10%"
      method="post">

    <div class="mb-3">
        <p class="form-label text-light">Id</p>
        <input type="text" th:field="*{id}" id="id" placeholder="Id" class="form-control">
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
    </div>

    <div class="mb-3">
        <label for="address" class="form-label text-light">Address</label>
        <input type="text" th:field="*{address}" id="address" placeholder="address" class="form-control">
        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
    </div>

    <div class="mb-3">
        <label for="commandDate" class="form-label text-light">Date</label>
        <input type="text" th:field="*{commandDate}" id="commandDate" placeholder="commandDate" class="form-control">
        <span th:if="${#fields.hasErrors('commandDate')}" th:errors="*{commandDate}"></span>
    </div>

        <div class="mb-3">
<!--            <label for="productId">Command Line</label>-->
<!--            <select th:fields="*{commandLine[0].listIterator()}" name="productId" id="productId" class="form-select">-->
<!--                <option th:values="*{commandLine[0].listIterator()}">-->
<!--                    <p th:text="*{commandLine[0].listIterator()}"></p>-->
<!--                </option>-->
<!--            </select>-->
<!--                <p th:text="*{commandLine}" class="text-light" th:value="*{commandLine}"></p>-->
<!--            <label for="commandLine" class="form-label text-light">Products</label>-->
<!--            <input th:fields="*{commandLine[0]}" id="commandLine" class="form-control">-->
<!--            <span th:if="${#fields.hasErrors('commandLine[0]')}" th:errors="*{commandLine[0]}"></span>-->
        </div>

    <div class="mb-3">
        <label for="Customer" class="form-label text-light">Customer</label>
        <input type="text" th:field="*{customer}" id="Customer" placeholder="Customer" class="form-control">
        <span th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}"></span>
    </div>

    <div class="mb-3">
        <label for="deliveryman" class="form-label text-light">Delivery Man</label>
        <input type="text" th:field="*{deliveryman}" id="deliveryman" placeholder="deliveryman" class="form-control">
        <span th:if="${#fields.hasErrors('deliveryman')}" th:errors="*{deliveryman}"></span>
    </div>

    <div class="mb-3">
        <label for="status" class="form-label text-light">Status</label>
        <select name="status" id="status" th:field="*{status}" class="form-select">
            <option type="text" value="">--Please choose an option--</option>
            <option type="text" value="In progress">In progress</option>
            <option value="delivered">delivered</option>
        </select>
    </div>

    <div class="mt-3 text-center">
        <input class="btn btn-primary mt-3" type="submit" value="Update Command">
    </div>

</form>
<div class="mt-3 text-center">
    <a class="btn btn-secondary mt-3" th:href="@{/command/{id}(id=${command.id})}">Return</a>
</div>
</body>
</html>