<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
<nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand text-secondary" th:href="@{/}">Home</a>
        <a class="navbar-brand" th:href="@{/productlist}">Products List</a>
        <a class="navbar-brand" th:href="@{/basket}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Basket
        </a>
        <div sec:authorize="isAuthenticated()">
            <form class="navbar-brand" name="logoutForm" th:action="@{/logout}" method="post">
                <input class="btn btn-danger" type="submit" value="Logout" />
            </form>
        </div>
    </div>
</nav>

<div class="row align-items-center">
    <div class="col text-center">
        <img th:src="@{/images/img1.jpeg}" width="70%" alt="" class="border border-3">
    </div>

    <div class="col">
        <h1 class="text-light text-center">Welcome to the Application</h1>
        <h1 class="text-light text-center">of</h1>
        <h1 class="text-light text-center">Delivery Home of COVID Test</h1>
        <br>
        <br>
        <h5 class="text-secondary text-center">Description:</h5>
        <p class="text-light text-center">The purpose of the app is to keep people at home to prevent the spread of the virus. It is therefore
            <br/>
            necessary that thinking people have caught COVID do not come out, but that the tests be delivered
            <br/>
            directly to their homes.</p>

        <br/>
        <div class="text-center">
            <a sec:authorize="hasRole('administrator')"
               th:href="@{/addProduct}" class="btn btn-primary">Add Product</a>
            <a sec:authorize="hasRole('deliveryman')" th:href="@{/commands}" class="btn btn-primary">View Command</a>
        </div>
    </div>

    <div class="col text-center">
        <img th:src="@{/images/img2.jpeg}" alt="" width="70%" class="border border-3">
    </div>
</div>

</body>
</html>