<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
<nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand " href="/">Home</a>
        <a class="navbar-brand text-secondary" href="/productlist">Products List</a>
        <a class="navbar-brand" href="/basket">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart"
                 viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Basket
        </a>
        <div sec:authorize="isAuthenticated()">
            <form class="navbar-brand" name="logoutForm" th:action="@{/logout}" method="post">
                <input class="btn btn-danger" type="submit" value="Logout" />
            </form>
        </div>
    </div>
</nav>
<table class="table table-light text-dark">
    <thead>
    <th scope="col" class="text-center">Id</th>
    <th scope="col" class="text-center">Product</th>
    <th scope="col" class="text-center">Validate Time</th>
    <th scope="col" class="text-center">Instruction</th>
    <th scope="col" class="text-center">Action</th>
    </thead>
    <tbody>
    <div th:each="product: ${productList}">
        <tr>
            <td class="text-center" th:text="${product.id}"></td>
            <td class="text-center">
                <a class="text-info" style="text-decoration: none;" th:href="@{/product/{id}(id = ${product.id})}">
                    <i>
                        <p th:text="${product.name}"></p>
                    </i>
                </a>
            </td>
            <td class="text-center" th:text="${product.validateTime}"></td>
            <td class="text-center" th:text="${product.instruction}"></td>
            <td class="text-center">

<!--                <button class="btn btn-sm btn-primary"-->
<!--                        th:action="@{/productlist}"-->
<!--                        th:object="${commandLine}"-->
<!--                        th:value="${product.id}"-->
<!--                        type="submit">-->
                <a th:href="@{/addCommandLine/{id}(id=${product.id})}" class="btn btn-sm btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-cart-plus" viewBox="0 0 16 16">
                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
<!--                </button>-->
            </td>
        </tr>
    </div>
    </tbody>
</table>

</body>
</html>