<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
<nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand text-secondary" href="/">Home</a>
        <a class="navbar-brand" href="/productlist">Products List</a>
        <a class="navbar-brand" href="/basket">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Basket
        </a>
        <div sec:authorize="isAuthenticated()">
            <form class="navbar-brand" name="logoutForm" th:action="@{/logout}" method="post">
                <input class="btn btn-danger" type="submit" value="Logout" />
            </form>
        </div>
    </div>
</nav>

<h4 class="text-center text-light mb-2">Update Product</h4>

<form action="#"
      th:action="@{/update/{id}(id=${product.id})}"
      th:object="${product}"
      style="margin-right: 10%; margin-left: 10%"
      method="post">

    <div class="mb-3">
        <label for="name" class="form-label text-light">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>

    <div class="mb-3">
        <label for="validateTime" class="form-label text-light">Validate Time</label>
        <input type="text" th:field="*{validateTime}" id="validateTime" placeholder="Validate Time" class="form-control">
        <span th:if="${#fields.hasErrors('validateTime')}" th:errors="*{validateTime}"></span>
    </div>

    <div class="mb-3">
        <label for="instruction" class="form-label text-light">Instruction</label>
        <textarea type="text" th:field="*{instruction}" id="instruction" placeholder="Instruction" class="form-control"></textarea>
        <span th:if="${#fields.hasErrors('instruction')}" th:errors="*{instruction}"></span>
    </div>

    <div class="mt-3 text-center">
        <input class="btn btn-primary mt-3" type="submit" value="Update Product">
    </div>

</form>
<div class="mt-3 text-center">
    <a class="btn btn-secondary mt-3" th:href="@{/product/{id}(id=${product.id})}">Return</a>
</div>
</body>
</html>